@font-face
{
    font-family: Roboto-black;
    src: 
        url('../fonts/Roboto/Roboto-Black.ttf')
}

@font-face
{
    font-family: Roboto-medium;
    src: 
        url('../fonts/Roboto/Roboto-Medium.ttf')
}